.app-container {
  /* text-align: center; */
  width: 75%;
  margin: 0 auto;
  /* position: relative; */
}

.food-search-input {
  width: 80%;
  height: 30px;
  /* margin: 0 auto; */
  /* text-align: center; */
}

.search-div {
  text-align: center;
}

.search-results-container {
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
  position: absolute;
}

.search-item {
  text-align: left;
  padding: 5px;
}

.search-item:hover {
  background-color: rgba(0, 255, 0, 0.3);
  cursor: pointer;
}

.search-loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Nutrition section */
/* containers */
.food-container {
  margin-top: 20px;
}

.summary-container {
  display: flex;
}

.calorie-container {
  display: flex;
}

.daily-container {
  display: flex;
}

.mineral-container {
  display: flex;
}

.fat-container {
  display: flex;
}

/* inner sections for containers */
/* Nutrition-facts-container */
.nutrition-facts-container {
  padding: 20px;
  /* width: 50%; */
  flex-grow: 1;
}
/* Macro section */
.breakdown-container {
  padding: 20px;
  flex-grow: 1;
}

.breakdown-pie-chart {
  /* height: 100%; */
}

.breakdown-chart-header {
  margin: 0;
}
/* calorie section */
.calorie-summary-container {
  flex-grow: 1;
  width: 100%;
}

.calorie-table {
  width: 50%;
  text-align: left;
  /* height: 50%; */
}

.calorie-chart-header {
  margin: 0;
  text-align: left;
}

.calorie-chart-container {
  flex-grow: 1;
  width: 100%;
}
/* daily section */
.daily-summary-container {
  /* flex-grow: 1; */
  width: 100%;
  padding: 20px;
  /* width: 50%; */
  flex-grow: 1;
}

.daily-chart-container {
  flex-grow: 1;
  width: 100%;
}

.daily-table {
  text-align: left;
  width: 100%;
  /* padding: 5px; */
  border-spacing: 5px;
}

.daily-table-header {
  border-bottom: 1px solid black;
}

/* mineral section */
.mineral-summary-container {
  flex-grow: 1;
  width: 100%;
}

.mineral-chart-container {
  flex-grow: 1;
  width: 100%;
}
/* fat section */
.fat-summary-container {
  flex-grow: 1;
  width: 100%;
}

.fat-chart-container {
  flex-grow: 1;
  width: 100%;
}

.nutrition-facts {
  flex-grow: 1;
  /* width: 30%; */
}

/* .food-description-container {
  flex-grow: 1;
} */

/* Nutrition table */
.nutrition-table {
  border: 1px solid black;
  /* width: 50%; */
  padding: 5px;
}

/* .nutrition-summary {
  flex-grow: 1;
  padding: 10px; */
/* width: 30%; */
/* width: 30%; */
/* height: auto; */
/* } */

.calorie-pie-chart {
  /* height: 40%; */
  text-align: center;
}

.nutrition-facts-heading {
  text-align: center;
  font-size: 125%;
}

.left-col {
  text-align: left;
}

.right-col {
  text-align: right;
}

.total-nutrients-per-serving {
  font-size: 80%;
}

.nutrition-footer {
  font-size: 75%;
  width: 100%;
}

.food-img {
  width: 200px;
  height: auto;
}

/* Compare page section */

.compare-description-container {
  display: flex;
}

.food-heading-container {
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
